$darkest: #282524;
$dark: #616161;
$lightest: #f8f5f4;
$accent: #f38d1f;

html {
    font-family: 'Catamaran', sans-serif;
}

h1, .nav {
    margin: 0;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $accent;
        border-bottom: 1px solid;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: $darkest;
    color: $lightest;
    &__img {
        height: 5rem;
    }
}
.nav {
    &__list {
        list-style: none;
        li {
            display: inline-block;
            padding: 1rem;
            box-sizing: border-box;
            height: 5rem;
            font-size: 1.5rem;
            letter-spacing: 1px;
        }
    }
}

.page {
    &__header {
        background-color: $darkest;
        color: $lightest;
        padding: 2rem;
        height: 100vw;
        max-height: 400px;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: right top;
    }
    &__title {
        font-size: 9vw;
    }
}

.section {
    position: relative;
    background-repeat: no-repeat;
    background-size: 0;
    overflow: hidden;

    &.Light {
        background-color: $lightest;
        color: $dark;
    }
    &.Dark {
        background-color: $darkest;
        color: $lightest;
        
    }
    &__title {
        text-align: center;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__column {
        flex: 1 1 200px;
    }
    &__text {
        max-width: 400px;
        position: relative;
        padding: 2rem 1rem 4rem 1rem;
        background: inherit;
        border-radius: 1rem;
    }
    &__image {
        max-height: 600px;
        img {
            width: 100%;
            transform: rotateZ(-5deg);
        }
    }
}

.blog {
    &__post {
        padding: 2rem;
    }
}