---
layout: layouts/base.njk
section: page
---
<header class="page__header" style="background-image: url({{image}});">
    <h1 class="page__title">{{ title }}</h1>
</header>
<main class="page__content">
    {% if sections %}
        {% for section in sections %}
            <section class="section {{section.theme}}">
                {% if section.title %}
                    <h2 class="section__title">{{section.title}}</h2>
                {% endif %}

                <div class="section__content">
                    {% if section.columns %}
                        {% for column in section.columns %}
                            {% if column.image %}
                                <div class="section__column section__image">
                                    <img src="{{column.image}}" />
                                </div>
                            {% endif %}

                            {% if column.text %}
                                <div class="section__column section__text">
                                    {{column.text}}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
        {% endfor %}
    {% endif %}
    {{ layoutContent | safe }}
</main>
